.sidebar {
    height: 100%;
    overflow: scroll;
    margin-right: 1rem;
    width: 20.5rem;
}

.item {
    color: #000000;
    padding: 0!important;
    transition: .3s;
}

.item:hover {
    border-radius: 10px!important;
}

.item:active {
    background-color: #4562ba !important;
    border-radius: 10px!important;
}

.active {
    border: 1px solid #2445a9!important;
    opacity: 1;
    border-radius: 10px!important;
}